#co{
  border:1px solid white;
  margin-left:20vw;
  margin-right: 20vw;
  margin-top: 30vh;
  background-color: azure;
  border-radius: 5vh;
  display:flex;
  flex-direction: column;
 
  text-align: center;
}
.btn{
  border:1px solid white;
  width:20vw;
  height:10vh;
  border-radius: 5vh;
  background-color: yellow;
  color:black;
  font-size:medium;
  font-weight: 900;
  margin-left: 33%;
}
.p{
  font-size: medium;
  font-weight: 700;
}
body{
  background-color: yellow;
  width:100vw;
  height:100vh;
  margin:0;
  overflow-x: hidden;
}